$public-font: 'Public Sans';
/*
**************************** COLORS ****************************
*/

$primary-color:#f2f2f2;
$white-color:#ffffff;
$section-color:#F4F5F7;
$tittle-color:#2D314D;
$text-color:#9597A5;




/**************************** FONTS ****************************
*/
$font-weight-100:100;
$font-weight:500;

/**************************** TITTLE****************************
*/

$tittle-middle-size:5.6rem;
$tittle-middle-line:1.14;

$tittle-normal-size:4rem;
$tittle-normal-line:1.6;

$tittle-easy-size:2.4rem;
$tittle-easy-line:1.16;

/**************************** TEXT ****************************
*/

$text-middle-size:1.8rem;
$text-middle-line:1.56;

$text-normal-size:1.6rem;
$text-normal-line:1.6;

$text-easy-size:1.3rem;
$text-easy-line:1.4;